---
import type { IconName } from '@assets/icon-sprite';
import { markEmail, phoneText, emailText } from '@lib/format';
import { getLocale, t } from '@lib/i18n';
import { getHomeHref, getHref } from '@lib/routing';
import { datocmsNoIndex } from '@lib/search';
import { siteName } from '@lib/seo';
import Icon from '@components/Icon';
import NoDodosLogo from '@components/NoDodosLogo.astro';
import ThemeSelector from '@components/ThemeSelector/ThemeSelector.astro';


const { contact, copyrightPage, privacyPage, ...props } = Astro.props;
const locale = getLocale();
const isNl = locale === 'nl';
const socialPlatforms: { key: IconName, title: string, url: string }[] = [
  { key: 'linkedin', title: 'LinkedIn', url: 'https://www.linkedin.com/company/no-dodos/' },
  { key: 'instagram', title: 'Instagram', url: 'https://www.instagram.com/no_dodos/' },
];
const legalName = isNl
  ? 'No Dodos Coöperatie U.A.'
  : 'No Dodos Cooperation U.A.';
const details = [
  { title: 'KvK', value: '92330606' },
  { title: isNl ? 'BTW' : 'VAT', value: 'NL866007581B01' },
  { title: 'IBAN', value: 'NL10 ASNB 8821 1780 72'.replaceAll(' ','') },
];
---

<!-- [html-validate-disable-next no-redundant-role -- is footer specifically for entire site] -->
<footer role='contentinfo' {...datocmsNoIndex} {...props}>
  <div class='contact'>
    <div>
      <a rel='home'  href={ getHomeHref() } aria-label={t('go_to_home_page', { siteName })}>
        <NoDodosLogo />
      </a>
      <ThemeSelector target="body" />
    </div>
    <div>
      <strong>Visit us</strong>
      <a
        href='https://www.google.nl/maps/place/Koornmarkt+22,+2611+EG+Delft/@52.0093477,4.3573054,17z/'
        target='_blank'
        rel='noreferrer noopener'
      >
        Koornmarkt 22<br />
        2611 EG Delft
      </a>
    </div>
    <div>
      <strong>Contact us</strong>
      <a
        href={`tel:${contact.phone.replace(/\s/g, '')}`}
        title={phoneText(contact)}
      >
        <span>{contact.phone}</span>
      </a>
      <br />
      <a href={`mailto:${markEmail(contact.email)}`} title={emailText(contact)}>
        <span>{contact.email}</span>
      </a>
    </div>
    <div class='socials'>
      {
        socialPlatforms.map((platform) => (
          <a
            href={platform.url}
            target='_blank'
            rel='noreferrer noopener'
            class='action--primary action--icon-only'
          >
            <span class='a11y-sr-only'>
              {t('follow_us_on_platform', { platform: platform.title })}
            </span>
            <Icon name={platform.key} />
          </a>
        ))
      }
    </div>
  </div>
  <div class='legal'>
    <dl>
      {
        details.map((item) => (
          <>
            <dt>{item.title}</dt>
            <dd>{item.value}</dd>
          </>
        ))
      }
    </dl>
    <p>
      {legalName}
      <span aria-hidden='true'>-</span>
      <a href={getHref({ record: copyrightPage, locale })}>Copyright</a>
      <span aria-hidden='true'>-</span>
      <a href={getHref({ record: privacyPage, locale })}
      >{isNl ? 'Privacyverlaring' : 'Privacy statement'}</a
      >
    </p>
  </div>
</footer>

<style>
  footer {
    line-height: 1.5;
  }
  .contact > * {
    display: block;
    margin-bottom: 10px;
  }
  .contact strong {
    display: block;
  }

  a[rel="home"] {
    display: block;
    text-decoration: none; 
  }
  .socials a {
    padding: 8px;
    color: var(--color-background);
    background-color: var(--color-text);
  }
  .socials a:focus,
  .socials a:hover {
    background-color: var(--color-highlight);
  }
  .socials a + a {
    margin-inline-start: 10px;
  }
  .legal {
    font-size: 0.8rem;
    border-top: 1px solid var(--color-text);
    padding-top: 25px;
    margin-block: 25px;
  }
  .legal dl {
    display: grid;
    grid-template-columns: 30px 1fr;
  }
  .legal span {
    display: inline-block;
    margin-inline: 10px;
  }
  @media screen and (min-width: 520px) {
    .contact {
      display: flex;
      justify-content: space-between;
    }
    .legal {
      text-align: center;
    }
    .legal dl {
      display: flex;
      justify-content: center;
    }
    .legal dd {
      margin-inline-start: 10px;
    }
    .legal dd + dt::before {
      content: '|';
      display: inline-block;
      margin-inline: 15px;
    }
  }
</style>
