---
import type { PageRecord } from '@lib/types/datocms';
import { getLocale, t } from '@lib/i18n';
import { getHref } from '@blocks/InternalLink/index';

type Contact = {
  fullName: string;
  email: string;
  phone: string;
};
interface Props {
  contact: Contact;
  privacyPage: PageRecord;
}

const { contact, privacyPage, ...props } = Astro.props;
const locale = getLocale();

const markEmail = (email: string) => email.replace('@', '+contact@');
const phoneText = (contact: Contact) =>
  t('call_person_on_phone', { name: contact.fullName, phone: contact.phone });
const emailText = (contact: Contact) =>
  t('send_email_to_person', {
    name: contact.fullName,
    email: markEmail(contact.email),
  });
---

<div {...props}>
  <div class='content'>
    <div class='message'>
      <a href={ getHref({ locale, page: privacyPage }) }>
        { locale === 'nl' ? 'Geen cookies, wel privacy' : 'Cookies: no, privacy: yes' }
      </a>
    </div>
    <div class='actions'>
      <a
        href={`tel:${contact.phone.replace(/\s/g, '')}`}
        title={phoneText(contact)}
      >
        <span>{contact.phone}</span>
      </a>
      <a href={`mailto:${markEmail(contact.email)}`} title={emailText(contact)}>
        <span>{contact.email}</span>
      </a>
    </div>
  </div>
</div>

<style>
  .content {
    display: flex;
    justify-content: space-between;
  }
  a {
    display: inline-block;
    padding-block: 15px;
  }
  .actions a {
    margin-inline-start: 10px;
  }
  .actions a:not(:last-child) {
    margin-inline-end: 10px;
  }
  .message {
    display: none;
  }
  @media screen and (min-width: 520px) {
    .message {
      display: block;
    }
  }
</style>
