---
import type { PageRecord } from '@lib/types/datocms';
import type { Contact } from '@lib/format';
import { markEmail, phoneText, emailText } from '@lib/format';
import { getLocale } from '@lib/i18n';
import { getHref } from '@lib/routing';

interface Props {
  contact: Contact;
  privacyPage: PageRecord;
}

const { contact, privacyPage, ...props } = Astro.props;
const locale = getLocale();
---

<div {...props}>
  <div class='content'>
    <div class='message'>
      <a href={ getHref({ locale, record: privacyPage }) }>
        { locale === 'nl' ? 'Geen cookies, wel privacy' : 'Cookies: no, privacy: yes' }
      </a>
    </div>
    <div class='actions'>
      <a
        href={`tel:${contact.phone.replace(/\s/g, '')}`}
        title={phoneText(contact)}
      >
        <span>{contact.phone}</span>
      </a>
      <a href={`mailto:${markEmail(contact.email)}`} title={emailText(contact)}>
        <span>{contact.email}</span>
      </a>
    </div>
  </div>
</div>

<style>
  .content {
    display: flex;
    justify-content: space-between;
  }
  a {
    display: inline-block;
    padding-block: 15px;
  }
  .actions a {
    margin-inline-start: 10px;
  }
  .actions a:not(:last-child) {
    margin-inline-end: 10px;
  }
  .message {
    display: none;
  }
  @media screen and (min-width: 520px) {
    .message {
      display: block;
    }
  }
</style>
