---
import type { OrganisationsBlockFragment } from '@lib/types/datocms';
import { getLocale } from '@lib/i18n';
import { getHref } from '@lib/routing';
import DynamicTag from '@components/DynamicTag.astro';

interface Props {
  block: OrganisationsBlockFragment;
}
const { block } = Astro.props;
const locale = getLocale();
const imageSize = 100;
const items = block.organisations
  .filter((item) => item.image)
  .map((item) => ({
    url: item.page ? getHref({ record: item.page, locale }) : undefined,
    image: `${item.image?.url}?auto=format&w=${imageSize}&ar=1:1&dpr=3&fit=clip`,
    name: item.name,
  }));
---

<ul>
  {
    items.map((item) => (
      <li>
        <DynamicTag as={item.url ? 'a' : 'span'} href={item.url}>
          <img
            title={item.name}
            alt={item.name}
            src={item.image}
            width={imageSize}
            height={imageSize}
          />
        </DynamicTag>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    max-width: 720px;
    margin-inline: auto;
    padding: 0;
  }
  li {
    margin: 20px;
  }
  a {
    display: block;
    position: relative;
    outline-offset: 5px;
  }
  a:focus,
  a:hover {
    transform: scale(1.2);
    transition: transform 0.05s ease-in-out;
  }
  a::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    right: -5px;
    border-radius: 5px;
    background-color: #089b54;
  }
  img {
    display: block;
    width: 100px;
    border-radius: 5px;
  }
</style>
