---
import type { StructuredText } from 'datocms-structured-text-utils';
import type { TextBlockFragment } from '@lib/types/datocms';
import leavesSvg from '@assets/images/leaves-side.svg';
import Text from './Text.astro';

interface Props {
  block: TextBlockFragment
}
const { block } = Astro.props;
---

<div class:list={['component', { 
  'component--panel': block.theme,
  [`theme--${block.theme}`]: block.theme,
  [`style--${block.style}`]: block.style,
} ]} >
  <div class:list={['layout', `layout--${block.layout}`, `style--${block.style}`]}>
    <Text data={ block.text as StructuredText } />
  </div>
  <img alt="" src={leavesSvg.src} class="leaves" />
</div>

<style>
  .component {
    container-type: inline-size;
    container-name: TextBlock;
    position: relative;
  }
  .component--panel {
    margin-block-start: 50px;
    padding-block: 25px;
    padding-inline: 50px;
    border-radius: 25px;
  }
  @media screen and (min-width: 540px) {
    .component--panel {
      padding-inline: 100px;
    }
  }

  .layout :global(h1, h2) {
    margin-top: 50px;
    max-width: 500px;
  }
  .layout--default {
    max-width: 640px;
  }
  .component--panel .layout--default {
    max-width: 400px;
  }
  .layout--centered {
    text-align: center;
    max-width: 800px;
    margin-inline: auto;
  }
  .layout--centered :global(h2) {
    margin-inline: auto;
  }

  @container TextBlock (min-width: 680px) {
    .layout--columns {
      column-count: 2;
      column-gap: 120px;
    }
    .layout--columns :global(h2) {
      column-span: all;
    }
  }

  .leaves { 
    display:none;
  }    
  .style--with-leaves .leaves {
    display: block;
    position: absolute;
    height: 120%;
    top: -10%;
    right: -15%;
    opacity: 0.5;
  }
</style>
