---
import type {
  AppRecord,
  DefaultLayoutQuery,
  Site,
  SiteLocale,
  Tag,
} from '@lib/types/datocms';
import type { Contact } from '@lib/format';
import { datocmsRequest } from '@lib/datocms';
import { defaultLocale } from '@lib/i18n';
import type { PageUrl } from '@lib/seo';
import query from './default.query.graphql';
import AppFooter from '@components/AppFooter.astro';
import AppHeader from '@components/AppHeader.astro';
import Breadcrumbs from '@components/Breadcrumbs/Breadcrumbs.astro';
import type { Breadcrumb } from '@components/Breadcrumbs';
import ContactHeader from '@components/ContactHeader.astro';
import IconSprite from '@components/Icon/IconSprite.astro';
import PreviewModeProvider from '@components/PreviewMode/PreviewModeProvider.astro';
import SeoHead from '@components/SeoHead.astro';
import SkipLink from '@components/SkipLink/SkipLink.astro';
import '@fontsource/poppins/700.css';
import '@fontsource-variable/urbanist';
import '@assets/a11y.css';
import '@assets/theme.css';
import '@assets/action.css';

interface Props {
  breadcrumbs?: Breadcrumb[];
  pageUrls: PageUrl[];
  seoMetaTags: Tag[];
  theme?: string | null;
}

const { locale = defaultLocale } = Astro.params as { locale?: SiteLocale };
const data = (await datocmsRequest<DefaultLayoutQuery>({
  query,
  variables: { locale },
})) as { app: AppRecord; site: Site };
const { breadcrumbs = [], pageUrls, seoMetaTags } = Astro.props;
const mainContentId = 'content';
const theme = ['dark', 'light', 'green', 'orange'].includes(
  Astro.props.theme || ''
)
  ? Astro.props.theme
  : 'dark';
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <SeoHead
      pageUrls={pageUrls}
      tags={[...data.site.faviconMetaTags, ...seoMetaTags]}
    />
  </head>
  <body class:list={[`theme--${theme}`]}>
    <PreviewModeProvider>
      <SkipLink targetId={mainContentId} />
      <slot name='contact'>
        <div class='theme--purple'>
          <ContactHeader
            contact={data.app.primaryContact as Contact}
            privacyPage={data.app.privacyPage}
            class:list={['layout']}
          />
        </div>
      </slot>
      <div class='layout'>
        <AppHeader
          menuItems={data.app.menuItems}
          pageUrls={pageUrls}
          primaryAction={data.app.primaryAction}
        />
      </div>
      {
        breadcrumbs.length > 0 && (
          <div class='layout'>
            <Breadcrumbs items={breadcrumbs} />
          </div>
        )
      }
      {
        /* main element requires tabindex to be focusable, see SkipLink/README.md */
      }
      <slot name='main' id={mainContentId}>
        <main id={mainContentId} tabindex='-1' class='layout'>
          <slot />
        </main>
      </slot>
      <slot name='footer'>
        <div class='footer theme--dark'>
          <div class='layout'>
            <AppFooter
              contact={data.app.primaryContact}
              copyrightPage={data.app.copyrightPage}
              privacyPage={data.app.privacyPage}
            />
          </div>
        </div>
      </slot>
    </PreviewModeProvider>
    <IconSprite />
  </body>
</html>

<style is:global>
  /* very basic reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  figure {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }
  body {
    font-family: 'Urbanist Variable', sans-serif;
    overflow-y: scroll;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  h1 {
    font-size: 3rem;
    line-height: 1.2;
    text-wrap-style: balance;
  }
  h2 {
    font-size: 2rem;
    text-wrap-style: balance;
  }
  mark {
    color: var(--color-highlight);
    background-color: transparent;
  }
</style>
<style>
  /* Sticky footer. @see https://css-tricks.com/a-clever-sticky-footer-technique/ */
  html,
  body {
    height: 100%;
  }
  .footer {
    position: sticky;
    top: 100vh;
  }

  /* Basic layout: header, main, footer */
  main {
    line-height: 1.6;
  }

  .footer {
    margin-block: 100px;
    padding-block: 30px;
  }

  .layout {
    margin-inline: auto;
    width: 1200px;
    max-width: calc(100% - 30px);
  }
  @media screen and (min-width: 480px) {
    .layout {
      padding-inline: 15px;
    }
  }
</style>
